	       <!-- Latest   jQuery -->
      <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
  
      <!-- Latest compiled and minified   JavaScript -->
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script> 
	</body>
	<footer>
      <ul class="social-links">
 <a title="Twitter profile" href="https://twitter.com/karespring?lang=en"><img src = "../images/twitter.png"></a>

<!--<a title="Linkedin Profile" href="https://www.linkedin.com/profile/view?id=AAIAABAr78YB0mEGvJWHuiUuDU1xD8OokqJIOWk&trk=nav_responsive_tab_profile"><img src = "../images/linkedin.png"></a>-->

<a title="Facebook profile" href="https://www.facebook.com/karen.wetzelspringford?fref=ts"><img src = "../images/facebook.png"></a>

<a title="Google plus profile" href="https://plus.google.com/u/0/108581085926823209771/posts"><img src = "../images/google+.png"></a>
</ul>   
    
</footer>
</html>