<%- include partials/header.ejs %>
<h1>Who is Karen Springford?</h1>
 <div id="text-box" class = "text-centre-align">
 <section>
    <div class="text-centre-align-justify"><p>A mature college student, enthusiastic to continue developing new academic knowledge and skills, 
        as a member of an information technology team.   A highly capable business woman with proven work experience in scheduling, 
        forecasting, and Human Resources.  Specialized in maximizing profits and employee retention in a customer service based 
        industry successfully for over a decade.</p></div>
        <div id="hideaway" style="display:none;" class="text-centre-align-justify">
            <p>A mother of 2 young girls driven to show her daughters that with hard work you can succeed. </p>
            <p>Previous college graduate from Sir Sanford Fleming in Legal Secretary.  15 years later I have returned to school to continue my education in the Computer Programming.</p>
            <p>I am a dedicated woman, that does not back down from challenges.  I have successfully trained and completed a number of endurance races.  
            Including 5 1/2 Marathons (13.1 miles) and a 100km bike ride through the hills of Deerhurst.  Future athletic goals include a full marathon in October 2016 and a 1/2 Ironman 2017.</p></div>
            <p></p>       
<a class="link" href="javascript:;" onClick="document.getElementById('hideaway').style.display='block';">See More</a>
<a class="link" href="javascript:;" onClick="document.getElementById('hideaway').style.display='none';">Show Less</a>
     </section>      
   </div>
<%- include partials/footer.ejs %>