<%- include partials/header.ejs %>
<body>

<!-- Any section element inside of this container is displayed as a slide -->
			<div class="slides">
			<!-------------------SLIDE----------------->
				<section data-autoslide="3000">
                    <div id="text-box5">
					<h1>Coop Term</h1>
					<h3>LabX Media Group</h3>
					<p>
						<small>Created by <a href="http://karenspringford.com">Karen Springford</a><br></br> 
                        <img src = "../images/karen.jpg" width="300" height="300"></small>
					</p>
                    <div>
				</section>

            <!-------------------SLIDE----------------->
				<section data-autoslide="3000">
				<div id="text-box5">
					<h2>Week 1</h2>
                    <p>What a week!!</p>
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/oY2nVQNlUB8" frameborder="0" allowfullscreen></iframe>
					</div>
				</section>

				<!-- Example of nested vertical slides -->
				<!-------------------SLIDE----------------->
				<section data-autoslide="3000">
					<section>
					<div id="text-box5">
						<h3>Week 2</h3>
						<p>Okay week 1 wasn't that bad!  I didn't end up with black eyes!  Lol!</p>
                        <p>I'm learning a whole lot of new terminology!</p>
                        <p>Steve, Jira, HubSpot, SOLR, etc...</p>
                        <p>Did school prepare me enough?!?!?</p>
				        </ul>
				        </div>
					</section>
				</section>

            <!-------------------SLIDE----------------->
				<section data-autoslide="7000">
				<div id="text-box5">
					<h3>Week 3</h3>
					<p>Scrum meeting.  I'm working on tickets!  And I <strong>FIX</strong> them!</p>
					<p>Maybe I can do this job?!?</p>
                    <img src="../images/thumbsUp.jpg" id="pic" alt="Thumbs Up" width="250" height="250"/></p>
					</div>
				</section>

            <!-------------------SLIDE----------------->
				<section data-autoslide="3000">
				<div id="text-box5">
					<h3>Week 4</h3>
					<p>Argh!  Plaugued with a nasty flu!</p>
                    <p>Hate being THAT employee, but I'm pushing through!</p>
                    <p>Let's be honest...I was sick the entire month of January!  I WAS that employee!</p>
					<img width="200" height="250" src= "../images/flu.jpg" alt="Flu">
					</div>
				</section>

              <!-------------------SLIDE----------------->
				<section data-autoslide="3000">
				<div id ="text-box5">
					<h3>Weeks 5 - 9</h3>
				    <p>SnowStorms are a hitting!!!  </p>
				    <p>Let it Snow!</p>
				    <p>Ok Please stop snowing!</p>
				    <p>Amazingly enough!  I make it in time...IF I make it in!</p>
                    <p>I become John's shadow!  Work through some tickets and get a better understanding of the procedures!</p>
                    <img src="../images/snow.jpg" width="250" height="250" alt="Snow">
                </div>
				</section>

            <!-------------------SLIDE----------------->
				<section data-autoslide="2000" id="transitions">
				<div id="text-box5">
					<h3>Week 10</h3>
					<p>
                        <li class="fragment current-visible">More Snow!</li>
						<li class="fragment current-visible">Snow Squals</li>
                        <li class="fragment current-visible">Code I've been working on for a week...Goes live!</li>
                        <li class="fragment current-visible">SUCCESS!!!!</li>
						<li class="fragment current-visible">Watch more Lynda Videos</li>
					</p>
					</div>
				</section>

            <!-------------------SLIDE----------------->
				<section data-autoslide="2000">
				<div id="text-box5">
					<h3>Things I've learned so far...</h3>
					<p>
                        <li>JIRA - Great IT system.</li>
                        <li>Slack - Really useful for inter office communications.</li>
                        <li>Reveal.js is quite fun to play with!</li>
                        <li>Lynda Videos are HORRIBLE! I'll stick with code school</li>
                        <li>You can say no to other Project Managers</li>
                        <li>I need to not be afraid to ask questions!</li>
                        </div>
					</p>
				</section>
				
				<!-------------------------- slide ------------------------>
				<section data-autoslide="3000">
				<div id="text-box5">
				<h3>More Useful bits of Information I have learned...</h3>
					<ul>Putting Code into a Presentation<ul>
                
					<p>Use the <code>&lt;code&gt;</code></p>
					<pre><code data-trim>
&lt;!doctype html&gt;
&lt;html lang=&quot;en&quot;&gt;
&lt;head&gt;
	&lt;meta charset=&quot;UTF-8&quot;&gt;
	&lt;title&gt;Document&lt;/title&gt;
&lt;/head&gt;
&lt;body&gt;
	
&lt;/body&gt;
&lt;/html&gt;
					</code>
					</pre>
                    </div>
				</section>
				
		<!-------------------------- slide ------------------------>
				<section data-autoslide="3000" data-background="http://i.giphy.com/90F8aUepslB84.gif">
                    <div id="text-box5">
						<h2>... and embedding GIFs!</h2>
                        <iframe src="//giphy.com/embed/4BB8y6rRCf5bW" width="480" height="292" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="http://giphy.com/gifs/vrt-straf-onder-de-indruk-samson-en-gert-4BB8y6rRCf5bW">via GIPHY</a></p>
				    </div>
				</section>
				
		<!-------------------------- slide ------------------------>
				<section data-autoslide="3000" >
                    <div id="text-box5A">
						<h2>No Image Backgrounds...TaDa!</h2>
						<!--<pre><code class="hljs">&lt;section data-background="image.png"&gt;</code></pre></div>-->
					</section>
				
		<!-------------------------- slide ------------------------>				
				<section data-autoslide="3000">
                    <div id="text-box5B">
						<h2>Or Tiled Backgrounds</h2>
						<!--<pre><code class="hljs" style="word-wrap: break-word;">&lt;section data-background="image.png" data-background-repeat="repeat" data-background-size="100px"&gt;</code></pre></div>-->
					</section>
					
		<!-------------------------- slide ------------------------>
				<section data-autoslide="3000" data-background="#4d7e65">
				<div id="text-box5">
                    <h3>Spring</h3>
                    <p>It comes in like a LION!  Or Not!</p>
                    <img width="250" height="250" src= "../images/crazySnow.jpg" alt="SNOW">
                    <p>In Midland it apparently never stops snowing!</p>
                    <p>I've learned so much at LabX Media</p>
                    <p>I've been given projects, assigned tickets, been treated like a part of an IT team!</p>
					</div>
				</section>
				
		<!-------------------------- slide ------------------------>
		<section data-autoslide="3000">
        <div id="text-box5">
            <h3>Final Challenge</h3>
            <p>Service Desk DUE SOON</p>
            <p>Our GM has challenged the team to get the Due Soon(s) down to under 20 and hold it there for a minumum of 8 business hours!</p>
            <p>Oh and this challenge end date...my last day!</p>   
        </div>    
		</section>
		
		<!-------------------------- slide ------------------------>
		<section data-autoslide="3000">
        <div id="text-box5">
            <h3>Challenge Accepted!</h3>
            <p>Due Soon have ranged from 35-59 the entire time I've been here.</p>
            <p>Today (Apr 21, 2016) we are at 18 and closing!<p>
        </div>    
		</section>
	
		<!-------------------SLIDE----------------->
		<section data-autoslide="2000">
		    <div id="text-box5">
			    <h3>Exit Meeting</h3>
					<p>I'm proud to say my exit meeting with my project manager went well!</p>
                    <p>I've been offered a position to complete my work term in September!</p>
                    <p>AND a position in January!!!</p>
                    <p>We'll see if they still want me then!  Lol!</p>
				</section>	
                
        <!-------------------SLIDE----------------->
		<section data-autoslide="2000">
		    <div id="text-box5">
			    <h3>To Be Continued....</h3>
					<p>This is definitely not the end of my story</p>
                    <p>This is only the beginning of a journey I never thought I would take!</p>
				</section>	
		</body>
			</div><!-- slides -->
		</div><!-- reveal -->

		<script src="../lib/js/head.min.js"></script>
		<script src="../js/reveal.js"></script>

		<script>
            

			// Full list of configuration options available at:
			// https://github.com/hakimel/reveal.js#configuration
			Reveal.initialize({
				controls: true,
				progress: true,
				history: true,
				center: true,

				transition: 'zoom', // none/fade/slide/convex/concave/zoom

				// Optional reveal.js plugins
				dependencies: [
{ src: 'lib/js/classList.js', condition: function() { return !document.body.classList; } },
{ src: 'plugin/markdown/marked.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
{ src: 'plugin/markdown/markdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
{ src: 'plugin/highlight/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); } },
{ src: 'plugin/zoom-js/zoom.js', async: true },
{ src: 'plugin/notes/notes.js', async: true }
				]
			});

		</script>




<%- include partials/footer.ejs %>