<%- include partials/header.ejs %>
<body>

<!-- Any section element inside of this container is displayed as a slide -->
			<div class="slides">
			<!-------------------SLIDE----------------->
				<section data-autoslide="3000">
                    <div id="text-box5">
					<h1>CoOp Term</h1>
                    <h2>Work Term #1</h2>
					<h3>LabX Media Group</h3>
					<p>
						<small>Created by <a href="http://karenspringford.com">Karen Springford</a><br></br> 
                        <img src = "../images/karen.jpg" width="100" height="100"></small>
					</p>
                    <div>
				</section>

            <!-------------------SLIDE----------------->
				<section data-autoslide="3000">
				<div id="text-box5">
					<h2>Week 1</h2>
                    <p>What a week!!</p>
                    <div id="fb-root"></div><script>(function(d, s, id) {  var js, fjs = d.getElementsByTagName(s)[0];  if (d.getElementById(id)) return;  js = d.createElement(s); js.id = id;  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.3";  fjs.parentNode.insertBefore(js, fjs);}(document, 'script', 'facebook-jssdk'));</script><div class="fb-video" data-allowfullscreen="1" data-href="/485881831509759/videos/vb.485881831509759/898019643629307/?type=3"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/485881831509759/videos/898019643629307/"><a href="https://www.facebook.com/485881831509759/videos/898019643629307/">IS THAT HIM?</a><p>THE GOD</p>Posted by <a href="https://www.facebook.com/Canelupo-485881831509759/">Canelupo</a> on Wednesday, March 30, 2016</blockquote></div></div>
					</div>
				</section>

				<!-- Example of nested vertical slides -->
				<!-------------------SLIDE----------------->
				<section data-autoslide="3000">
					<section>
					<div id="text-box5">
						<h2>Week 2</h2>
						<p>A lot of new terminology coming at me! STEVE, tickets, and JIRA...WTH?!?!</p>	
						<p>8 hours just isn't enough...!  Lol!</p>
				        </ul>
				        </div>
					</section>
				</section>

            <!-------------------SLIDE----------------->
				<section data-autoslide="7000">
				<div id="text-box5">
					<h2>Week 3</h2>
					<p>Scrum meeting.  I'm working on tickets!  And I <strong>FIX</strong> them!</p>
					<p>Maybe I can do this job?!?</p>
                    <img src="../images/thumbsUp.jpg" id="pic" alt="Thumbs Up" width="250" height="250"/></p>
					</div>
				</section>

            <!-------------------SLIDE----------------->
				<section data-autoslide="3000">
				<div id="text-box5">
					<h2>Week 4</h2>
					<p>Argh!  Plaugued with a nasty flu!</p>
                    <p>Hate being THAT employee, but I'm pushing through!</p>
					<img width="200" height="250" src= "../images/flu.jpg" alt="Flu">
					</div>
				</section>

            <!-------------------SLIDE----------------->
				<section data-autoslide="3000">
				<div id="text-box5">
					<h2>Day 5</h2>
					<ul class = "fragment">Scrum #2</ul>
                    <ul class = "fragment">Team Lunch today?  Chinese Food?</ul>
					<ul class = "fragment">Uh Oh!  Rumbling tummy!</ul>
					<img class ="fragment" width="250" height="250" src= "../images/tums.jpg" alt="Tums">
					</div>
				</section>
                   
              <!-------------------SLIDE----------------->
				<section data-autoslide="3000">
				<div id ="text-box5">
					<h2>Week 2</h2>
				    <p>SnowStorms are a hitting!!!  </p>
				    <p class="fragment grow">Let it Snow!</p>
				    <p class="fragment shrink">Ok Please stop snowing!</p>
				    <p class="fragment current-visible">Made it in time for the Sprint Meeting!</p>
                        <p class="fragment current-visible">I like these meetings!  I get a feel for the office and a better understanding of who handles what!</p>
                        <p class="fragment current-visible">Today I am going to be John's shadow!  Work through some tickets and get a better understanding of the procedures!</p>
                        <img src="../images/snow.jpg" width="250" height="250" alt="Snow">
</div>
					</section>

            <!-------------------SLIDE----------------->
				<section data-autoslide="2000" id="transitions">
				<div id="text-box5">
					<h2>Day 2 - Week 2</h2>
					<p>
                        <li class="fragment current-visible">More Snow Today!</li>
						<li class="fragment current-visible">Snow Squals</li>
                        <li class="fragment current-visible">5->10cm</li>
						<li class="fragment current-visible">Shadow John for the morning</li>
                        <li class="fragment current-visible">E-Blast Mailing Failed at 10am</li>
                        <li class="fragment current-visible">E-Blast Success at 10:30am</li>
						<li class="fragment current-visible">Lynda Videos</li>
					</p>
					</div>
				</section>

            <!-------------------SLIDE----------------->
				<section data-autoslide="2000">
				<div id="text-box5">
					<h2>Things I've learned so far...</h2>
					<p>
                        <li class="fragment highlight-blue">JIRA - Great IT system.</li>
                        <li class="fragment highlight-blue">Slack - Really useful for inter office communications.</li>
                        <li class="fragment highlight-blue">Reveal.js is quite fun to play with!</li>
                        </div>
					</p>
				</section>
				
				<!-------------------------- slide ------------------------>
				<section data-autoslide="3000">
				<div id="text-box5">
				<h3>More Useful bits of Information I have learned...</h3>
					<ul>Putting Code into a Presentation<ul>
                
					<p>Use the <code>&lt;code&gt;</code></p>
					<pre><code data-trim>
&lt;!doctype html&gt;
&lt;html lang=&quot;en&quot;&gt;
&lt;head&gt;
	&lt;meta charset=&quot;UTF-8&quot;&gt;
	&lt;title&gt;Document&lt;/title&gt;
&lt;/head&gt;
&lt;body&gt;
	
&lt;/body&gt;
&lt;/html&gt;
					</code>
					</pre>
                    </div>
				</section>
				
		<!-------------------------- slide ------------------------>
				<section data-autoslide="3000" data-background="http://i.giphy.com/90F8aUepslB84.gif">
                    <div id="text-box5">
						<h2>... and GIFs!</h2>
				    </div>
				</section>
				
		<!-------------------------- slide ------------------------>
				<section data-autoslide="3000" >
                    <div id="text-box5A">
						<h2>Image Backgrounds</h2>
						<pre><code class="hljs">&lt;section data-background="image.png"&gt;</code></pre></div>
					</section>
				
		<!-------------------------- slide ------------------------>				
				<section data-autoslide="3000">
                    <div id="text-box5B">
						<h2>Tiled Backgrounds</h2>
						<pre><code class="hljs" style="word-wrap: break-word;">&lt;section data-background="image.png" data-background-repeat="repeat" data-background-size="100px"&gt;</code></pre></div>
					</section>
					
		<!-------------------------- slide ------------------------>
				<section data-autoslide="3000" data-background="#4d7e65">
				<div id="text-box5">
                    <h2>Week 2 Ends</h2>
                    <p>It was a snow filled week.</p>
                    <img width="250" height="250" src= "../images/crazySnow.jpg" alt="SNOW">
                    <p>It closed with freezing rain on the Friday evening.  I learned a lot this week.  I closed 4 tickets, and have 3 more waiting to go live!  It was a good week!</p>
					</div>
				</section>
				
		<!-------------------------- slide ------------------------>
		<section data-autoslide="3000">
        <div id="text-box5">
            <h2>Week 3</h2>
            <p>Sprint Meeting #2!</p>
            <li class="fragment current-visible">My boss announces in the meeting that he is happy with my progress!  Yahhh!  Go ME!!!</li>
        </div>    
		</section>
		
		<!-------------------------- slide ------------------------>
		<section data-autoslide="3000">
        <div id="text-box5">
            <h2>Week 3</h2>
            <p>Still bloody sick!  But I'm here and getting my work done.</p>
            <img width="250" height="250" src= "../images/sick.png" alt="SICK">
        </div>    
		</section>
	
		<!-------------------SLIDE----------------->
		<section data-autoslide="2000">
		    <div id="text-box5">
			    <h2>Reflections at Week 3</h2>
					<p>
                        <li class="fragment highlight-blue">This IT job is not what I expected!</li>
                        <li class="fragment highlight-blue">It's IT for an IT company. </li>
                        <li class="fragment highlight-blue">ColdFusion is something I must learn..and <strong>FAST!</strong></li>
                        </div>
					</p>
				</section>	
		</body>
			</div><!-- slides -->
		</div><!-- reveal -->

		<script src="../lib/js/head.min.js"></script>
		<script src="../js/reveal.js"></script>

		<script>
            

			// Full list of configuration options available at:
			// https://github.com/hakimel/reveal.js#configuration
			Reveal.initialize({
				controls: true,
				progress: true,
				history: true,
				center: true,

				transition: 'zoom', // none/fade/slide/convex/concave/zoom

				// Optional reveal.js plugins
				dependencies: [
{ src: 'lib/js/classList.js', condition: function() { return !document.body.classList; } },
{ src: 'plugin/markdown/marked.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
{ src: 'plugin/markdown/markdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
{ src: 'plugin/highlight/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); } },
{ src: 'plugin/zoom-js/zoom.js', async: true },
{ src: 'plugin/notes/notes.js', async: true }
				]
			});

		</script>




<%- include partials/footer.ejs %>