<%- include partials/header.ejs %>

<h1>A Portfolio of Karen Springford</h1>
<div id="text-box" class = "text-centre-align"><p>This Portfolio contains personal, private, and confidential information and is my own
work. Any of the contents should not be copied without my permission</p>
<p>I certify that all the information in this portfolio is true and complete</p>
  <h8>Karen Springford</h8>   
</div>
 
<%- include partials/footer.ejs %>