<%- include partials/header.ejs %>
<h1>Karen Springford's Projects</h1>
    <div id="text-box">
  <h3 class="text-centre-align-justify">This Incredibly Awesome Web Site!</h3>
   <div id="textbox3" class="text-centre-align"><li>Successfully built / programmed a 4x4x4 LED cube.<img src="../images/cube.jpg" id="pic" alt="4x4x4" width="75" height="75"/><img src="../images/wiringCube.jpg" alt="wiring" width="75" height="75"id="pic"/></li>
   <li>Built and created 2 html based web pages.</li>
   <li>Built a web page for an Aesthetician friend (PHP based)</li>
   <li>Successful programming in java on many different IDE's.  Netbeans, Eclipse and Blue Jay.</li>
   <li>Successfully completed 4 group assignments. Recieving 85% or higher on all.</li>
   </div>
    <section>
    
<%- include partials/footer.ejs %>