<%- include partials/header.ejs %>
<section class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
<h1 class="text-centre-align">Services</h1>
       <div class="text-centre" id="text-box1">
       <ul class="text-centre"><h4>Web Programming</h4></ul>
        <li class="text-centre-align">HTML</li>
        <li class="text-centre-align">PHP</li>
        <li class="text-centre-align">CSS</li>
        <li class="text-centre-align">JavaScript</li>      
       </div>

<div class="text-centre-align" id="text-box1">
    <ul class="text-centre"><h4>Programming</h4>            </ul>
    <li class="text-centre-align">RDBMS</li>
    <li class="text-centre-align">MySQL</li> 
    <li class="text-centre-align">Java</li>
    <li class="text-centre">C#</li> 
            <li class="text-centre-align">Arduino Sketch</li>    
</div>
 <div class="text-centre-align" id="text-box1">
    <ul class="text-centre-align"><h4>Operating Systems & Software</h4>            </ul>
    <li class="text-centre-align">Mac OS/X</li>
    <li class="text-centre-align">Microsoft</li> 
    <li class="text-centre-align">Visual Studios</li>  
</div>
  
<div class="text-centre-align" id="text-box1">
    <ul class="text-centre-align"><h4>Soft Skills</h4></ul>
        <li class="text-centre-align">System Analysis</li>
        <li class="text-centre-align">Project Management</li>
        <li class="text-centre-align">Human Behaviour in the Workplace</li>   
                <li class="text-centre-align">Conflict Resolution</li>   
</div>
    </body>
     </section>
   
    
<%- include partials/footer.ejs %>