<%- include partials/header.ejs %>
<section>
<h1>Services</h1>
    <div class="text-centre" id="WP">
        <ul><h4>Web Programming</h4></ul>
        <li >HTML</li>
        <li >PHP</li>
        <li >CSS</li>
        <li >JavaScript</li> 
        <li> Node & Express Development</li>
    </div>         
             
    <div class="text-centre" id="P">
        <ul><h4>Programming</h4></ul>
        <li>RDBMS</li>
        <li>MySQL</li> 
        <li>Java</li>
        <li>C#</li> 
        <li>Arduino Sketch</li>    
    </div>
    
 <div class="text-centre" id="OS">
    <ul><h4>Operating Systems & Software</h4></ul>
    <li>Mac OS/X</li>
    <li>Microsoft</li> 
    <li>Visual Studios</li>
    <li>Jira Atlassian Service Desk</li>
</div>
  
<div class="text-centre" id="SS">
    <ul><h4>Proficient Soft Skills</h4></ul>
        <li>System Analysis</li>
        <li>Project Management</li> 
        <li>Conflict Resolution</li>
        <li>Dynamic Presentation Skills</li>
        <li>InBound Marketing</li>   
</div>
    </body>
     </section>
   
    
<%- include partials/footer.ejs %>