#bs-navbar{
    font: .7em tahoma, Helvetica, Arial, sans-serif black bold;
    padding: .2%;
    background-color: pink;
    border: 1px solid black;
    opacity: 0.7;
    filter: alpha(opacity=60);
}
a {
  color: black;
}
#about a[href="#"] {
    display: block;
    text-align: center;
    margin: 15% auto;
    font: .941176em bold;
    border: 2px solid #333333;
    color: #333333 !important;
    width: 30%;
}
h1{
    font: .9em tahoma, Helvetica, Arial, sans-serif black bold;
    padding: 3%;
    background-color: pink;
    border: 1px solid black;
    opacity: 0.7;
    filter: alpha(opacity=60);
}
body {
    padding: 5%;
    font: .7em tahoma, Helvetica, Arial, sans-serif black bold;
    background: url("../images/desk.jpg") no-repeat center center fixed;
    background-size: cover;   
}
#text-box{
    padding: 2.5%;
    width: 65%;
    font: .7em tahoma, Helvetica, Arial, sans-serif black bold;
    background-color: pink;
    border: 1px solid black;
    opacity: 0.9;
    filter: alpha(opacity=60);   
}
#WP, #OS, #P, #SS{
    box-sizing: border-box;
    margin: 2%;
    padding-left:1%;
    width: 65%;
    font: .7em tahoma, Helvetica, Arial, sans-serif black bold;
    text-align: center;
    background-color: pink;
    border: 1px solid black;
    border-width: 25%;
    opacity: 0.9;
    filter: alpha(opacity=60);   
}
#hidden info {
    visibility: hidden
}
#text-box2, #text-box3, #text-box4, #text-box5{
    padding: 5%;
    width:65%;
    font: .7em tahoma, Helvetica, Arial, sans-serif black bold;
    background-color: pink;
    border: 1px solid black;
    opacity: 0.9;
    filter: alpha(opacity=60);
}

#text-box5A{
    background: url("../images/background.jpg") no-repeat center center fixed cover;
    width: 65%;
    padding: 5%;  
}
#text-box5B{ 
    background: url("../images/girlskull.jpg") repeat 25%;  
    width: 65%;
    padding: 5%;
}

.cube, .wiring{
    border: snow solid 3px;
}
.cube, .wiring, .link{
    padding:1.5%;
    margin: 1%;
    position: relative;
}

footer{
    clear: both;
}



